# Core ML libraries
pandas
numpy
matplotlib
seaborn

# MLOps tools
mlflow
dvc
dvc-s3

# Web framework for API
fastapi
uvicorn
pydantic

# Testing
pytest
pytest-cov
flake8
black
isort

# Workflow orchestration
apache-airflow

# Jupyter for exploration
jupyter
notebook

# Deployment
kubernetes
docker

# Explicit pathspec version to avoid conflict
pathspec  

aiohttp
aiohttp-retry
aiosignal
alembic
amqp
annotated-types
anyio
apache-airflow-providers-common-compat
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-fab
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-smtp
apache-airflow-providers-sqlite
apispec
appdirs
argcomplete
asgiref
asyncssh
atpublic
attrs
babel
bcrypt
billiard
blinker
cachelib
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
clickclick
cloudpickle
colorama
colorlog
configobj
ConfigUpdater
connexion
contourpy
cron-descriptor
croniter
cryptography
cycler
databricks-sdk
Deprecated
dictdiffer
dill
diskcache
distro
dnspython
dpath
dulwich
dvc-data
dvc-gdrive
dvc-http
dvc-objects
dvc-render
dvc-studio-client
dvc-task
email_validator
entrypoints
filelock
Flask
Flask-AppBuilder
Flask-Babel
Flask-Bcrypt
Flask-Caching
Flask-Cors
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flatten-dict
flufl.lock
fonttools
frozenlist
fsspec
funcy
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-re2
googleapis-common-protos
grandalf
graphene
graphql-core
graphql-relay
greenlet
grpcio
gto
gunicorn
h11
httpcore
httplib2
httpx
hydra-core
idna
importlib_metadata
importlib_resources
inflection
iterative-telemetry
itsdangerous
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
kombu
lazy-object-proxy
limits
linkify-it-py
lockfile
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-oneofschema
marshmallow-sqlalchemy
scipy
scmrepo
semver
setproctitle
setuptools
shellingham
shortuuid
shtab
six
smmap
sniffio
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
sqlparse
sqltrie
tabulate
tenacity
termcolor
text-unidecode
threadpoolctl
time-machine
tomlkit
tqdm
typer
typing_extensions
tzdata
uc-micro-py
universal_pathlib
uritemplate
urllib3
vine
voluptuous
wcwidth
Werkzeug
wirerope
wrapt
WTForms
yarl
zc.lockfile
zipp
